/*CSS file for the web application*/

/*Styles the basic body components*/
body {
    background-color: #cbcaca;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: Arial, 'Arial Black', Verdana, sans-serif;
    font-size: 56px;
    margin-bottom: -18px;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
}

p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

/*Styles the section of the webpage that the application will appear in*/
.application {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e3e3;
    overflow: hidden;
    padding: 25px;
}

/*Styles the main part of the application*/
.calculatorMain {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0px;
}

.calculatorMain p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

/*Styles the picture of the planet that appears next to the list of buttons*/
.imgColumn {
    float: right;
    padding-right: 5%;
    padding-top: 135px;
}

/*Styles the part of the application that has all the gravity buttons*/
.buttonList {
    float: right;
    padding-right: 15px;
}

.buttonList p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: left;
}

.buttonList ul {
    list-style: none;
    margin-left: -35px;
}

.buttonList li {
    text-align: left;
    padding-bottom: 10px;
}

.buttonList button {
    width: 80px;
    height: 30px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 9pt;
    cursor: pointer;
}

/*Styles the button that will actually run the script*/
.calculate {
    margin-top: 435px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.calculate button {
    height: 50px;
    width: 170px;
    font-family:  Arial, 'Arial Black', Verdana, sans-serif;
    font-size: 16pt;
    font-weight: bolder;
    background-color: #bfbfbf;
    cursor: pointer;
}

/*Styles the footer section*/

.footerBody {
    background-color: #b1b0b0;
    overflow: hidden;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.potato {
    float: left;
}

.splash {
    float: left;
    width: 200px;
    padding-left: 15px;
}

.splash h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
}

.credits {
    float: right;
    margin-top: 20px;
}

.credits h3 {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}