/*CSS file for the web application*/

/*Styles the basic body components*/
body {
    background-color: #cbcaca;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: Arial, 'Arial Black', Verdana, sans-serif;
    font-size: 56px;
    margin-bottom: -18px;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
}

/*Styles the section of the webpage that the application will appear in*/
.application {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e3e3;
    overflow: hidden;
    padding: 25px;
}

/*All the heading styles for application are used to style the leaderboards*/
.application h1 {
    font-size: 38pt;
    font-family: 'Arial Black', Verdana, Arial, sans-serif;
    font-weight: bolder;
}

.application h2 {
    font-size: 32pt;
    font-family: 'Arial Black', Verdana, Arial, sans-serif;
    font-weight: bold;
}

.application h3 {
    font-size: 26pt;
    font-family: 'Arial Black', Verdana, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: -12px;
}

.application h4 {
    font-size: 20pt;
    font-family: Arial, 'Arial Black', Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}

/*Styles the main part of the application*/
.calculatorMain {
    float: left;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0px;
}

.calculatorMain p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    width: 100%;
}

.graphDiv {
    width: 500px;
    height: 300px;
    overflow: hidden;
    background-color: #eaf869;
}

/*STYLING FOR THE PRACTICE PAGE*/
/*-------------------------------------------------------------------------*/
/*Styles the picture of the planet that appears next to the list of buttons*/
.imgColumn {
    float: right;
    padding-right: 4%;
    padding-top: 65px;
}

/*Styles the part of the application that has all the gravity buttons*/
.buttonList {
    float: right;
    padding-right: 35px;
}

.buttonList p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: left;
    width: 100%;
}

.buttonList ul {
    list-style: none;
    margin-left: -35px;
}

.buttonList li {
    text-align: left;
    padding-bottom: 10px;
}

.buttonList button {
    width: 80px;
    height: 30px;
    font-family: Arial, Verdana, sans-serif;
    font-size: 9pt;
    cursor: pointer;
}
/*-------------------------------------------------------------------------*/

/*STYLING FOR THE GAME PAGE*/
/*-------------------------------------------------------------------------*/
/*Styles the information about the level that the user is currently on*/
.levelInfo {
    float: right;
    padding-right: 5%;
    text-align: center;
    padding-top: 15px;
}

.levelInfo h3 {
    font-size: 40px;
    font-family: Consolas, Verdana, Arial, 'Arial Black', sans-serif;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
}

.levelInfo h4 {
    font-size: 16px;
    font-family: Consolas, Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-bottom: 0px;
}

.levelInfo button {
    margin-top: 20px;
    width: 130px;
    height: 45px;
    font-family: Verdana, Consolas, Arial, 'Arial Black', sans-serif;
    font-weight: bold;
    font-size: 20pt;
    background-color: #9b9999;
    border: solid medium #161616;
    border-radius: 4px;
    cursor: pointer;
}

/*-------------------------------------------------------------------------*/

/*Styles the button that will actually run the script*/
.calculate {
    margin-top: 435px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.calculate button {
    height: 50px;
    width: 170px;
    font-family:  Arial, 'Arial Black', Verdana, sans-serif;
    font-size: 16pt;
    font-weight: bolder;
    background-color: #bfbfbf;
    cursor: pointer;
}

/*Styles the section right after the main application (this part will be mostly static)*/
.playGame {
    width: 85%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.playGame p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.playGame button {
    height: 40px;
    width: 130px;
    font-family:  Arial, 'Arial Black', Verdana, sans-serif;
    font-size: 16pt;
    font-weight: bolder;
    background-color: #adadad;
    cursor: pointer;
}

.playGame ul {
    list-style: none;
}

.playGame li {
    display: inline;
    padding-right: 50px;
}

/*Styles the footer section*/
.footerBody {
    background-color: #b1b0b0;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.footer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.potato {
    float: left;
}

.splash {
    float: left;
    width: 200px;
    padding-left: 15px;
}

.splash h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
}

.credits {
    float: right;
    margin-top: 20px;
}

.credits h3 {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}